// styles for product page

.productsMainContent {
    section {
        padding:75px 0;
    }

    h2 {
        text-align: center;
    }

    // flex parent
    .products {
        display: flex;
        flex-wrap: wrap;
        // flex child
        li {
        // flex-basis controls the dimension of the flex CHILD

        // because we are using the default flex direction value (row) the main axis of alignment is the x-axis therefore flex-basis will represent the width property
            flex-basis: calc((100% / 3) - 30px);
            margin: 5px 15px;
            text-align: center;
        }

        img {
            border-radius: 10px;
        }

    }

    .popularProduct {
        font-weight: 700;
        margin-top: 10px;
    }

    // PLSFIX is there a more elegant solution to unapplying the CSS to the nested spn
    .discountedPrice {
        text-decoration: line-through;
        color: rgba($color: $primary, $alpha: 0.5);
        span {
            // note that text-decoration does not apply to inline elements, so we need to change it to display:block
            display: inline-block;
            text-decoration: none;
            color: rgba($color: $primary, $alpha: 1);
        }
    }
}

.guarantees {
    background-color: $quaternary;
    position: relative;
    h2 {
        font-size: 0.8rem;
    }

    h3 {
        font-size: 0.6rem;
        margin: 0;
    }

    p {
        font-size: 0.5rem;
        line-height: 1rem;
    }

    img {
        width:30px;
    }
    
    &::before {
        content: "";
        background-image: url(../assets/wave-3.svg);
        background-color: $quaternary;
        background-position: top center;
        background-size: 1500px 60px;
        position: absolute;
        height: 3rem;
        left: 0;
        right: 0;
        top: -60px;
    }

    ul {
        display: flex;
        li {
            margin: 0 20px;
            width: calc(25% - 40px);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}

